<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% extends 'layout.html' %}

{% block title %}Início - NUBES{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="text-init">Bem-vindo ao NUBES</h1>
    <p class="text-init_sub">Sistema de Emissão de Guias para Exames Periódicos da Justiça Federal da Bahia</p>
</div>


<div class="row mt-5 text-center">
    <div class="col-12 col-md-4">
        <div class="card shadow p-3">
            <h3 class="text-primary">Servidores</h3>
            <p>Verifique seus dados e solicite a sua guia de exames.</p>
            <a href="#" class="btn btn-primary">Acessar</a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow p-3">
            <h3 class="text-primary">Rede Credenciada</h3>
            <p>Valide guias e registre a realização dos exames.</p>
            <a href="#" class="btn btn-primary">Acessar</a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow p-3">
            <h3 class="text-primary">Administração</h3>
            <p>Gerencie cadastros e visualize estatísticas.</p>
            <a href="#" class="btn btn-primary">Acessar</a>
        </div>
    </div>
</div>
{% endblock %}
