<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emissão de Guias - NUBES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Corrigir o caminho do arquivo CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Logo grande e transparente no fundo -->
    <div class="logo-background"></div>
    
    <div class="container">
        <!-- Aqui o conteúdo da página será inserido -->
        {% block content %}  <!-- Bloco de conteúdo a ser preenchido pelas páginas filhas -->
        {% endblock %}
    </div>

    <footer class="footer bg-dark text-white text-center py-3">
        <p>&copy; 2025 NUBES - Justiça Federal da Bahia</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



